
html{
    font-size: 62.5%;
}
body{
    font-size: 16px;
}

.titulo{
    text-align: center;

}
.span__titulo{
    font-size: 16px;
    color: grey;
}

.lista2{
    list-style-type: upper-roman;
}

img{
    width: 150px;
    height: 150px;
    
}
.img_perfil{
    text-align: center;
}

table{
    border: 1px solid black;
    margin: 0 auto;
    width: 400px;
    height: 200px;

    text-align: center;
}
table td,th{
    border: 1px solid black;
    color: #484;

    background-size: contain;
    
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}