/* Paleta colores */
:root{
    --colorTitulos : #00bfd8;
    --colorParrafos : grey;
}
/* Globales */
html{
    font-size: 62.5%;
    
    box-sizing: border-box;
}
*,*:before,*:after{
    box-sizing: inherit;
}
body{
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: linear-gradient(to top,#DFFEFF 0%, white 100%);

}
h1{
    font-size: 3.8rem;
}
h2{
    font-size: 2.8rem;
}
h3{
    font-size: 1.8rem;
}
h1,h2,h3{
    text-align: center;   
}
/* Contenido */
.encabezado{
   display: flex;
   justify-content: flex-end;
}
.encabezado__caja{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100rem;
    
}
p{
    color: var(--colorParrafos);
}

.span_titulo{
    font-size: 16px;
    color: grey;
   
}

.contenedor{
    max-width: 100rem;
    margin: 0 auto;
}
.navegacion_principal{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.navegacion_principal a{
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1.5rem;
    font-weight: bold;
    
}
.navegacion_principal a:hover{
    color: white;
    background-color: var(--colorTitulos);
}
.header{
    
    background-image: url(../img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 40rem;
    max-width: 150rem;
    position: relative;
    
}
.header__contenido{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    
    
    color: white;
    /*background-color: rgba(0,0, 0, .7);*/
    background-color: rgb(0 0 0 / 70%);
    
}
.ubicacion{
    display: flex;
    
    gap: 2rem;
    margin: 3rem;
}
.btn{
    text-decoration: none;
    background-color: black;
    color : white;
    padding: 1rem 4rem;
    font-weight: bold;
    border-radius: 1.5rem;
    text-transform: uppercase;
    text-align: center;
    width: 90%;
}
.btn:hover{
    cursor: pointer;
    background-color: #fff;
    color: black;

}

.sombra{
    background-color: #fff;
    box-shadow: 0px 5px 15px 0px rgb(112, 112, 112);
    display: grid;
    grid-column: 1/4;
    grid-template-columns: repeat(3,1fr);
}
.campo{
    border: none;
}
@media (min-width: 480px) {
    .contenedor{
        text-align: left;
    }
    .navegacion_principal{
        flex-direction: row;
        justify-content: space-between;
    }
    .encabezado__caja{
        flex-direction: row;
        justify-content: space-around;
    }
    .btn{
        width: auto;
    }
}
