
:root{
    --colorFondo: #234234;
    --colorTituloPrinc: #fff;
    --colorTextoSecun: #570;
}
/*Globales*/
html{
    box-sizing: border-box;
    font-size: 62.5%;
}
*,*::before,*::after{
    box-sizing: inherit;
}

body{
    font-size: 16px;
    background-color: var(--colorFondo);
}

.h1__principal{
    text-align: center;
    text-transform: uppercase;
    
   
}
.h1__principal:hover{
    color: bisque ;
}
.h1__principal span{
    font-size: 16px;
    text-transform: capitalize;
    color: dimgray;
}
nav{
    
    display: flex;
    width: 100%;
    background-color: var(--colorTextoSecun);
    margin: 0 auto;
    
    flex-direction: column;
    
}
nav ul{
    
    display: flex;
    justify-content: space-around;
    margin: 10px;
    list-style: none;
    
    font-weight: bold;
    
    
}
nav a{
    color: black;
    text-decoration: none;
}
nav a:hover{
    color: #fff;
    transition: ease 1s;
    

}

footer{
    background-color: #000;
}